# MacOS
**/.DS_Store

# IDE
.vscode/
.specstory/
.smart-edit/
.serena/
.pnpm-store/

# CodingAgent
.claude/
.cursor/
.codex/

# Cursor
.cursorrules
.cursorignore
.cursorindexingignore

# Backend
**/.venv/
**/__pycache__/
**/.pytest_cache/
**.ruff_cache/
**/.uv-cache/
backend/*.db
backend/public/

# Frontend
**/node_modules/
**/dist/
**/coverage/
**/playwright-report/
**/test-results/
**/*.tsbuildinfo
